In [1]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client.iranian_ecommerce

alibaba_trains_collection = db.alibaba_trains
alibaba_flights_collection = db.alibaba_flights
alibaba_trains = alibaba_trains_collection.find()
alibaba_flights = alibaba_flights_collection.find()

In [2]:
import pandas as pd

dft = pd.json_normalize(alibaba_trains)
dft.drop_duplicates(subset=['proposalId'], inplace=True)
dft

,_id,proposalId,from,to,rationCode,trainNumber,wagonName,wagonType,moveDatetime,departureDateTime,...,orginCode,originCode,destinationCode,arrivalDateTime,availableType,services.airCondition,services.media,discountBadge.content,discountBadge.foregroundColor,discountBadge.backgroundColor
0,662a9b50027301d678560ccf,11669979346,1,191,56,318,4 ستاره اتوبوسي صبا,1093,2024-04-27T00:00:00,2024-04-27T07:05:00,...,THR,THR,MHD,2024-04-27T19:15:00,Regular,True,True,NaN,NaN,NaN
1,662a9b50027301d678560cd0,11669979347,1,191,2,318,4 ستاره اتوبوسي صبا,1093,2024-04-27T00:00:00,2024-04-27T07:05:00,...,THR,THR,MHD,2024-04-27T19:15:00,Regular,True,True,NaN,NaN,NaN
2,662a9b50027301d678560cd1,11669979358,1,191,2,366,5 ستاره اكونومي پلاس,5258,2024-04-27T00:00:00,2024-04-27T20:55:00,...,THR,THR,MHD,2024-04-28T07:45:00,Regular,True,True,NaN,NaN,NaN
3,662a9b50027301d678560cd2,11669979366,1,191,2,584,5 ستاره اکونومي پلاس,5273,2024-04-27T00:00:00,2024-04-27T23:50:00,...,THR,THR,MHD,2024-04-28T10:55:00,Regular,True,True,NaN,NaN,NaN
4,662a9b50027301d678560cd3,11669979348,1,191,2,484,3 ستاره 6 تخته پارسي,5135,2024-04-27T00:00:00,2024-04-27T13:45:00,...,THR,THR,MHD,2024-04-28T00:45:00,Regular,True,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,662ad0e2511816a03f5f8287,11670958884,21,219,2,532,3ستاره 4تخته خليج فارس,5084,2024-05-03T00:00:00,2024-05-03T15:05:00,...,IFN,IFN,AZD,2024-05-03T20:00:00,Regular,True,True,NaN,NaN,NaN
1458,662ad0e3511816a03f5f8288,11670958922,21,37,2,532,3ستاره 4تخته خليج فارس,5084,2024-04-27T00:00:00,2024-04-27T15:05:00,...,IFN,IFN,BND,2024-04-28T07:40:00,Regular,True,True,NaN,NaN,NaN
1459,662ad0e6511816a03f5f8289,11670958985,21,37,2,532,3ستاره 4تخته خليج فارس,5084,2024-04-29T00:00:00,2024-04-29T15:05:00,...,IFN,IFN,BND,2024-04-30T07:40:00,Regular,True,True,NaN,NaN,NaN
1460,662ad0e8511816a03f5f828a,11670959214,21,37,2,532,3ستاره 4تخته خليج فارس,5084,2024-05-01T00:00:00,2024-05-01T15:05:00,...,IFN,IFN,BND,2024-05-02T07:40:00,Regular,True,True,NaN,NaN,NaN
1461,662ad0eb511816a03f5f828b,11670959294,21,37,2,532,3ستاره 4تخته خليج فارس,5084,2024-05-03T00:00:00,2024-05-03T15:05:00,...,IFN,IFN,BND,2024-05-04T07:40:00,Regular,True,True,NaN,NaN,NaN

In [3]:
dft.columns

Index(['_id', 'proposalId', 'from', 'to', 'rationCode', 'trainNumber',
       'wagonName', 'wagonType', 'moveDatetime', 'departureDateTime', 'seat',
       'cost', 'fullPrice', 'isCompartment', 'compartmentCapacity',
       'hasAirCondition', 'hasMedia', 'timeOfArrival', 'companyName',
       'serviceType', 'logoSuffix', 'hasDiscount', 'isSpecialOffer',
       'specialOfferTexts', 'isFadakSpecialOffer', 'minPassengerCount',
       'minLimitationMessage', 'maxPassengerCount',
       'exclusiveCompartmentMaxPassengerCount', 'maxLimitationMessage',
       'hasFreeFood', 'nonRefundable', 'isCharter', 'wagonClass',
       'hasFoodOffer', 'foodOfferTexts', 'axleCode', 'oldExitDatetime',
       'oldFrom', 'oldTo', 'badges', 'discountBadge', 'sortOrder',
       'isFamilyCoupe', 'isTransitCar', 'originName', 'destinationName',
       'orginCode', 'originCode', 'destinationCode', 'arrivalDateTime',
       'availableType', 'services.airCondition', 'services.media',
       'discountBadge.content', 'discountBadge.foregroundColor',
       'discountBadge.backgroundColor'],
      dtype='object')

In [4]:
dft = dft[[
    "proposalId",
    "originName",
    "destinationName",
    "wagonName",
    "departureDateTime",
    "arrivalDateTime",
    "cost",
    "fullPrice",
    "isCompartment",
    "compartmentCapacity",
    "hasAirCondition",
    "hasMedia",
    "hasMedia",
    "companyName",
    "hasDiscount",
    "isSpecialOffer",
    "hasFreeFood",
    "hasFoodOffer",
    "isCharter",
    "wagonClass",
    "isFamilyCoupe",
    "isTransitCar",
]]

In [5]:
dft.to_csv("alibabaTrains.csv", index=False, encoding='utf-8-sig')
dft

,proposalId,originName,destinationName,wagonName,departureDateTime,arrivalDateTime,cost,fullPrice,isCompartment,compartmentCapacity,...,hasMedia,companyName,hasDiscount,isSpecialOffer,hasFreeFood,hasFoodOffer,isCharter,wagonClass,isFamilyCoupe,isTransitCar
0,11669979346,تهران,مشهد,4 ستاره اتوبوسي صبا,2024-04-27T07:05:00,2024-04-27T19:15:00,2003500,2003500,False,4,...,True,رجا,False,False,False,False,False,S,False,False
1,11669979347,تهران,مشهد,4 ستاره اتوبوسي صبا,2024-04-27T07:05:00,2024-04-27T19:15:00,2003500,2003500,False,4,...,True,رجا,False,False,False,False,False,S,False,False
2,11669979358,تهران,مشهد,5 ستاره اكونومي پلاس,2024-04-27T20:55:00,2024-04-28T07:45:00,7920000,7920000,True,4,...,True,نورالرضا,False,False,False,False,False,EC,False,False
3,11669979366,تهران,مشهد,5 ستاره اکونومي پلاس,2024-04-27T23:50:00,2024-04-28T10:55:00,7920000,7920000,True,4,...,True,نورالرضا,False,False,False,False,False,EC,False,False
4,11669979348,تهران,مشهد,3 ستاره 6 تخته پارسي,2024-04-27T13:45:00,2024-04-28T00:45:00,2638500,2638500,True,6,...,False,مهتاب سير جم,False,False,False,False,False,EL,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,11670958884,اصفهان,یزد,3ستاره 4تخته خليج فارس,2024-05-03T15:05:00,2024-05-03T20:00:00,1093500,1093500,True,4,...,True,رجا,False,False,False,False,False,EC,False,False
1458,11670958922,اصفهان,بندرعباس,3ستاره 4تخته خليج فارس,2024-04-27T15:05:00,2024-04-28T07:40:00,3338500,3338500,True,4,...,True,رجا,False,False,False,False,False,EC,False,False
1459,11670958985,اصفهان,بندرعباس,3ستاره 4تخته خليج فارس,2024-04-29T15:05:00,2024-04-30T07:40:00,3338500,3338500,True,4,...,True,رجا,False,False,False,False,False,EC,False,False
1460,11670959214,اصفهان,بندرعباس,3ستاره 4تخته خليج فارس,2024-05-01T15:05:00,2024-05-02T07:40:00,3338500,3338500,True,4,...,True,رجا,False,False,False,False,False,EC,False,False
1461,11670959294,اصفهان,بندرعباس,3ستاره 4تخته خليج فارس,2024-05-03T15:05:00,2024-05-04T07:40:00,3338500,3338500,True,4,...,True,رجا,False,False,False,False,False,EC,False,False

In [6]:
dff = pd.json_normalize(alibaba_flights)
dff.drop_duplicates(subset=['proposalId'], inplace=True)
dff

,_id,otherPackagesForFlight,proposalId,origin,destination,airlineCode,flightNumber,leaveDateTime,arrivalDateTime,aircraft,...,crcn.از زمان صدور بلیط تا 72 ساعت قبل از پرواز,crcn.از 72 ساعت قبل از پرواز تا 48 ساعت قبل از پرواز,crcn.از 48 ساعت قبل از پرواز تا 24 ساعت قبل از پرواز,crcn.از 24 ساعت قبل از پرواز تا 12 ساعت قبل از پرواز,crcn.از زمان صدور بلیط تا 11:30 ظهر 5 روز قبل از پرواز,crcn.از 11:30 ظهر 5 روز قبل از پرواز تا 11:30 ظهر 4 روز قبل از پرواز,crcn.از 11:30 ظهر 4 روز قبل از پرواز تا 11:30 ظهر 3 روز قبل از پرواز,crcn.از 11:30 ظهر 3 روز قبل از پرواز تا 11:30 ظهر 2 روز قبل از پرواز,crcn.از 11:30 ظهر 2 روز قبل از پرواز تا 11:30 ظهر 1 روز قبل از پرواز,crcn.از 11:30 ظهر 1 روز قبل از پرواز به بعد
0,662ad5da41701efcefe909c1,[],ALBBDOMFLD979D1B68265E375D5CCE756C795C30BE8B16...,THR,AWZ,ZV,4013,2024-04-27T10:00:00,2024-04-27T11:15:00,MD8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,662ad5da41701efcefe909c2,[],ALBBDOMFLAA96BFEE30749531A842700330E5DE736EE10...,THR,AWZ,ZV,4021,2024-04-27T17:00:00,2024-04-27T18:15:00,MD8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,662ad5da41701efcefe909c3,[],ALBBDOMFL513C331F11747D2D004F30B09780373737761...,THR,AWZ,VR,5852,2024-04-27T05:25:00,2024-04-27T06:45:00,737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,662ad5da41701efcefe909c4,[],ALBBDOMFL805A75F731541B3FEA5731D2A54F5DFE522C5...,THR,AWZ,I3,5625,2024-04-27T16:50:00,2024-04-27T17:50:00,M83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,662ad5da41701efcefe909c5,[],ALBBDOMFLD2F2E6A255D213268E7E6BB93B4B3A0146E1C...,THR,AWZ,I3,5635,2024-04-27T20:40:00,2024-04-27T21:40:00,733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1671,662ad87f41701efcefe91081,[],ALBBDOMFL0CD5D61AEB5C26B08957DA6C4C9EC930D9D65...,KIH,IFN,IV,6976,2024-05-03T14:15:00,2024-05-03T15:35:00,M83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1672,662ad88341701efcefe91082,[],ALBBDOMFL1AB156C0E27BDE6554E9B88F2989DAFED13DC...,KIH,TBZ,B9,973,2024-04-27T10:00:00,2024-04-27T12:15:00,Boeing MD-82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1673,662ad88741701efcefe91085,[],ALBBDOMFLB0D6541AF38E95BC8DAA06CB6AA1A607C35B6...,KIH,TBZ,B9,973,2024-04-29T14:45:00,2024-04-29T17:00:00,Boeing MD-82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,662ad88c41701efcefe91086,[],ALBBDOMFL65DFE9E829DC4FEB81D3D02B9136FFA80CE64...,KIH,TBZ,B9,973,2024-05-02T14:00:00,2024-05-02T16:15:00,Boeing MD-82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1675,662ad88c41701efcefe91087,[],ALBBDOMFL150734E87AE4AA35053F828D32497C012DC40...,KIH,TBZ,B9,973,2024-05-02T14:00:00,2024-05-02T16:15:00,Boeing MD-82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dff.columns

Index(['_id', 'otherPackagesForFlight', 'proposalId', 'origin', 'destination',
       'airlineCode', 'flightNumber', 'leaveDateTime', 'arrivalDateTime',
       'aircraft', 'priceChild', 'priceAdult', 'priceInfant', 'description',
       'flightId', 'class', 'classType', 'classTypeName', 'status',
       'statusName', 'displayIndex', 'isCharter', 'isAdditionalServices',
       'ticketType', 'isSelectableInRoundtrip',
       'messageForSelectableInRoundTrip', 'seat', 'stars', 'isRefundable',
       'hasConnection', 'uniqueKey', 'maxAllowedBaggage', 'terminal',
       'promoted', 'discount', 'domesticMarkedUp', 'originalPrice',
       'originalChildPrice', 'originalInfandPrice', 'commission',
       'appliedRules', 'rawCrcn', 'removedByRuleEngine', 'ticketTypeLabel',
       'promotionDetails', 'promotionDetail', 'reissuePriceDetail',
       'freeCancelationPriceDetail', 'tripInsurancePriceDetail',
       'selectedCrossSell', 'hasReissue', 'hasFreeCancelation',
       'hasTripInsurance', 'airlineLogo', 'systemKey', 'originName',
       'destinationName', 'airlineName', 'childDiscount', 'infantDiscount',
       'additionalPromotionFee', 'type', 'vipPromotionId', 'vipVariant',
       'crcn.از زمان صدور بلیط تا  12:00 ظهر 3 روز قبل از پرواز',
       'crcn.از 12:00 ظهر 3 روز قبل از پرواز تا  12:00 ظهر 1 روز قبل از پرواز',
       'crcn.از 12:00 ظهر 1 روز قبل از پرواز تا  3 ساعت قبل از پرواز',
       'crcn.از 3 ساعت قبل از پرواز  به بعد',
       'crcn.از زمان صدور بلیط تا  12:00 ظهر 1 روز قبل از پرواز',
       'crcn.از 12:00 ظهر 1 روز قبل از پرواز  به بعد',
       'crcn.از 12:00 ظهر 1 روز قبل از پرواز تا  4 ساعت قبل از پرواز',
       'crcn.از 4 ساعت قبل از پرواز  به بعد',
       'crcn.از 12:00 ظهر 1 روز قبل از پرواز تا  2 ساعت قبل از پرواز',
       'crcn.از 2 ساعت قبل از پرواز  به بعد',
       'freeCancelationPriceDetail.adultAdditionalPrice',
       'freeCancelationPriceDetail.childAdditionalPrice',
       'freeCancelationPriceDetail.infantAdditionalPrice',
       'crcn.از زمان صدور بلیط تا  24 ساعت قبل از پرواز',
       'crcn.از 24 ساعت قبل از پرواز  به بعد',
       'crcn.از 12:00 ظهر 1 روز قبل از پرواز تا  5 ساعت قبل از پرواز',
       'crcn.از 5 ساعت قبل از پرواز  به بعد',
       'crcn.از 12:00 ظهر 3 روز قبل از پرواز تا  12:00 ظهر 2 روز قبل از پرواز',
       'crcn.از 12:00 ظهر 2 روز قبل از پرواز تا  12:00 ظهر 1 روز قبل از پرواز',
       'crcn.از زمان صدور بلیط تا  48 ساعت قبل از پرواز',
       'crcn.از 48 ساعت قبل از پرواز تا  4 ساعت قبل از پرواز',
       'crcn.از زمان صدور بلیط تا  12:00 ظهر 4 روز قبل از پرواز',
       'crcn.از 12:00 ظهر 4 روز قبل از پرواز تا  12:00 ظهر 3 روز قبل از پرواز',
       'crcn.از 12:00 ظهر 1 روز قبل از پرواز تا  12 ساعت قبل از پرواز',
       'crcn.از 12 ساعت قبل از پرواز  به بعد',
       'crcn.از زمان صدور بلیط تا  12:00 ظهر 2 روز قبل از پرواز',
       'crcn.از زمان صدور بلیط تا  72 ساعت قبل از پرواز',
       'crcn.از 72 ساعت قبل از پرواز تا  48 ساعت قبل از پرواز',
       'crcn.از 48 ساعت قبل از پرواز تا  24 ساعت قبل از پرواز',
       'crcn.از 24 ساعت قبل از پرواز تا  12 ساعت قبل از پرواز',
       'crcn.از زمان صدور بلیط تا  11:30 ظهر 5 روز قبل از پرواز',
       'crcn.از 11:30 ظهر 5 روز قبل از پرواز تا  11:30 ظهر 4 روز قبل از پرواز',
       'crcn.از 11:30 ظهر 4 روز قبل از پرواز تا  11:30 ظهر 3 روز قبل از پرواز',
       'crcn.از 11:30 ظهر 3 روز قبل از پرواز تا  11:30 ظهر 2 روز قبل از پرواز',
       'crcn.از 11:30 ظهر 2 روز قبل از پرواز تا  11:30 ظهر 1 روز قبل از پرواز',
       'crcn.از 11:30 ظهر 1 روز قبل از پرواز  به بعد'],
      dtype='object')

In [10]:
dff = dff[[
    "flightId",
    "originName",
    "destinationName",
    "classTypeName",
    "statusName",
    "airlineName",
    "airlineCode",
    "flightNumber",
    "leaveDateTime",
    "arrivalDateTime",
    "priceChild",
    "priceAdult",
    "priceInfant",
    "isCharter",
    "isAdditionalServices",
    "stars",
    "maxAllowedBaggage",
    "terminal",
    "hasTripInsurance",
    "hasFreeCancelation",
    "hasReissue"
]]

In [11]:
dff.to_csv("alibabaFlights.csv", index=False, encoding='utf-8-sig')
dff

,flightId,originName,destinationName,classTypeName,statusName,airlineName,airlineCode,flightNumber,leaveDateTime,arrivalDateTime,...,priceAdult,priceInfant,isCharter,isAdditionalServices,stars,maxAllowedBaggage,terminal,hasTripInsurance,hasFreeCancelation,hasReissue
0,FD:THR:AWZ:240427:1000:V:4013ET:10000000,تهران,اهواز,اکونومی,کنسل شده,زاگرس,ZV,4013,2024-04-27T10:00:00,2024-04-27T11:15:00,...,100000000,0,False,False,3,20,فرودگاه مهرآباد - ترمینال 1,False,False,False
1,FD:THR:AWZ:240427:1700:V:4021EYV:10000000,تهران,اهواز,اکونومی,تکمیل ظرفیت,زاگرس,ZV,4021,2024-04-27T17:00:00,2024-04-27T18:15:00,...,100000000,0,False,False,3,20,فرودگاه مهرآباد - ترمینال 1,False,False,False
2,FD:THR:AWZ:240427:0525:W:5852EL:10000000,تهران,اهواز,اکونومی,تکمیل ظرفیت,وارش,VR,5852,2024-04-27T05:25:00,2024-04-27T06:45:00,...,100000000,0,False,False,3,20,فرودگاه مهرآباد - ترمینال 1,False,False,False
3,FD:THR:AWZ:240427:1650:H:5625EGH:10000000,تهران,اهواز,اکونومی,تکمیل ظرفیت,آتا,I3,5625,2024-04-27T16:50:00,2024-04-27T17:50:00,...,100000000,0,False,False,3,20,فرودگاه مهرآباد - ترمینال 2,False,False,False
4,FD:THR:AWZ:240427:2040:H:5635EGH:10000000,تهران,اهواز,اکونومی,تکمیل ظرفیت,آتا,I3,5635,2024-04-27T20:40:00,2024-04-27T21:40:00,...,100000000,0,False,False,3,20,فرودگاه مهرآباد - ترمینال 2,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1671,FD:KIH:IFN:240503:1415:E:6976EJ:10000000,کیش,اصفهان,اکونومی,تکمیل ظرفیت,کاسپین,IV,6976,2024-05-03T14:15:00,2024-05-03T15:35:00,...,100000000,0,False,False,3,20,فرودگاه کیش - ترمینال جدید,False,False,False
1672,FD:KIH:TBZ:240427:1000:U:973BC:3500004,کیش,تبریز,بیزینس,,ایران ایرتور,B9,973,2024-04-27T10:00:00,2024-04-27T12:15:00,...,35000000,3561000,False,False,3,30,فرودگاه کیش - ترمینال جدید,False,True,False
1673,FD:KIH:TBZ:240429:1445:U:973BC:4900004,کیش,تبریز,بیزینس,,ایران ایرتور,B9,973,2024-04-29T14:45:00,2024-04-29T17:00:00,...,49000000,4961000,False,False,3,30,فرودگاه کیش - ترمینال جدید,False,True,False
1674,FD:KIH:TBZ:240502:1400:U:973EY:2359944,کیش,تبریز,اکونومی,,ایران ایرتور,B9,973,2024-05-02T14:00:00,2024-05-02T16:15:00,...,23599400,2421000,False,False,3,20,فرودگاه کیش - ترمینال جدید,False,True,False
1675,FD:KIH:TBZ:240502:1400:U:973BC:4950004,کیش,تبریز,بیزینس,,ایران ایرتور,B9,973,2024-05-02T14:00:00,2024-05-02T16:15:00,...,49500000,5010000,False,False,3,30,فرودگاه کیش - ترمینال جدید,False,True,False