In [11]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client.iranian_ecommerce
alibaba_train_tickets_collection = db.alibaba_train_tickets
alibaba_train_tickets = alibaba_train_tickets_collection.find()

In [12]:
import pandas as pd

dft = pd.json_normalize(alibaba_train_tickets)
dft.drop_duplicates(subset=['proposalId'], inplace=True)
dft

,_id,proposalId,from,to,rationCode,trainNumber,wagonName,wagonType,moveDatetime,departureDateTime,...,orginCode,originCode,destinationCode,arrivalDateTime,availableType,services.airCondition,services.media,discountBadge.content,discountBadge.foregroundColor,discountBadge.backgroundColor
0,662a9b50027301d678560ccf,11669979346,1,191,56,318,4 ستاره اتوبوسي صبا,1093,2024-04-27T00:00:00,2024-04-27T07:05:00,...,THR,THR,MHD,2024-04-27T19:15:00,Regular,True,True,NaN,NaN,NaN
1,662a9b50027301d678560cd0,11669979347,1,191,2,318,4 ستاره اتوبوسي صبا,1093,2024-04-27T00:00:00,2024-04-27T07:05:00,...,THR,THR,MHD,2024-04-27T19:15:00,Regular,True,True,NaN,NaN,NaN
2,662a9b50027301d678560cd1,11669979358,1,191,2,366,5 ستاره اكونومي پلاس,5258,2024-04-27T00:00:00,2024-04-27T20:55:00,...,THR,THR,MHD,2024-04-28T07:45:00,Regular,True,True,NaN,NaN,NaN
3,662a9b50027301d678560cd2,11669979366,1,191,2,584,5 ستاره اکونومي پلاس,5273,2024-04-27T00:00:00,2024-04-27T23:50:00,...,THR,THR,MHD,2024-04-28T10:55:00,Regular,True,True,NaN,NaN,NaN
4,662a9b50027301d678560cd3,11669979348,1,191,2,484,3 ستاره 6 تخته پارسي,5135,2024-04-27T00:00:00,2024-04-27T13:45:00,...,THR,THR,MHD,2024-04-28T00:45:00,Regular,True,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,662a9d94a3f7e7be9422b276,11670047976,219,37,2,532,3ستاره 4تخته خليج فارس,5084,2024-04-27T00:00:00,2024-04-27T19:40:00,...,AZD,AZD,BND,2024-04-28T07:40:00,Regular,True,True,NaN,NaN,NaN
1132,662a9d94a3f7e7be9422b277,11670047979,219,37,56,822,4 ستاره 4 تخته غزال,1315,2024-04-27T00:00:00,2024-04-27T22:24:00,...,AZD,AZD,BND,2024-04-28T10:40:00,Regular,True,True,NaN,NaN,NaN
1133,662a9d95a3f7e7be9422b278,11670048026,219,37,56,820,3 ستاره 6 تخته كوير,4820,2024-04-28T00:00:00,2024-04-28T20:43:00,...,AZD,AZD,BND,2024-04-29T08:45:00,Regular,True,False,NaN,NaN,NaN
1134,662a9d95a3f7e7be9422b279,11670048027,219,37,2,822,4ستاره4تخته غزال,1912,2024-04-28T00:00:00,2024-04-28T22:24:00,...,AZD,AZD,BND,2024-04-29T10:40:00,Regular,True,True,NaN,NaN,NaN
1135,662a9d95a3f7e7be9422b27a,11670048025,219,37,2,820,3 ستاره 6 تخته كوير,4820,2024-04-28T00:00:00,2024-04-28T20:43:00,...,AZD,AZD,BND,2024-04-29T08:45:00,Regular,True,False,NaN,NaN,NaN

In [15]:
dft.columns

Index(['_id', 'proposalId', 'from', 'to', 'rationCode', 'trainNumber',
       'wagonName', 'wagonType', 'moveDatetime', 'departureDateTime', 'seat',
       'cost', 'fullPrice', 'isCompartment', 'compartmentCapacity',
       'hasAirCondition', 'hasMedia', 'timeOfArrival', 'companyName',
       'serviceType', 'logoSuffix', 'hasDiscount', 'isSpecialOffer',
       'specialOfferTexts', 'isFadakSpecialOffer', 'minPassengerCount',
       'minLimitationMessage', 'maxPassengerCount',
       'exclusiveCompartmentMaxPassengerCount', 'maxLimitationMessage',
       'hasFreeFood', 'nonRefundable', 'isCharter', 'wagonClass',
       'hasFoodOffer', 'foodOfferTexts', 'axleCode', 'oldExitDatetime',
       'oldFrom', 'oldTo', 'badges', 'discountBadge', 'sortOrder',
       'isFamilyCoupe', 'isTransitCar', 'originName', 'destinationName',
       'orginCode', 'originCode', 'destinationCode', 'arrivalDateTime',
       'availableType', 'services.airCondition', 'services.media',
       'discountBadge.content', 'discountBadge.foregroundColor',
       'discountBadge.backgroundColor'],
      dtype='object')

In [17]:
dft = dft[[
    "proposalId",
    "originName",
    "destinationName",
    "wagonName",
    "departureDateTime",
    "arrivalDateTime",
    "cost",
    "fullPrice",
    "isCompartment",
    "compartmentCapacity",
    "hasAirCondition",
    "hasMedia",
    "hasMedia",
    "companyName",
    "hasDiscount",
    "isSpecialOffer",
    "hasFreeFood",
    "hasFoodOffer",
    "isCharter",
    "wagonClass",
    "isFamilyCoupe",
    "isTransitCar",
]]

In [18]:
dft.to_csv("alibabaTrainTickets.csv", index=False, encoding='utf-8-sig')

In [19]:
dft

Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

,proposalId,originName,destinationName,wagonName,departureDateTime,arrivalDateTime,cost,fullPrice,isCompartment,compartmentCapacity,...,hasMedia,companyName,hasDiscount,isSpecialOffer,hasFreeFood,hasFoodOffer,isCharter,wagonClass,isFamilyCoupe,isTransitCar
0,11669979346,تهران,مشهد,4 ستاره اتوبوسي صبا,2024-04-27T07:05:00,2024-04-27T19:15:00,2003500,2003500,False,4,...,True,رجا,False,False,False,False,False,S,False,False
1,11669979347,تهران,مشهد,4 ستاره اتوبوسي صبا,2024-04-27T07:05:00,2024-04-27T19:15:00,2003500,2003500,False,4,...,True,رجا,False,False,False,False,False,S,False,False
2,11669979358,تهران,مشهد,5 ستاره اكونومي پلاس,2024-04-27T20:55:00,2024-04-28T07:45:00,7920000,7920000,True,4,...,True,نورالرضا,False,False,False,False,False,EC,False,False
3,11669979366,تهران,مشهد,5 ستاره اکونومي پلاس,2024-04-27T23:50:00,2024-04-28T10:55:00,7920000,7920000,True,4,...,True,نورالرضا,False,False,False,False,False,EC,False,False
4,11669979348,تهران,مشهد,3 ستاره 6 تخته پارسي,2024-04-27T13:45:00,2024-04-28T00:45:00,2638500,2638500,True,6,...,False,مهتاب سير جم,False,False,False,False,False,EL,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,11670047976,یزد,بندرعباس,3ستاره 4تخته خليج فارس,2024-04-27T19:40:00,2024-04-28T07:40:00,2431000,2431000,True,4,...,True,رجا,False,False,False,False,False,EC,False,False
1132,11670047979,یزد,بندرعباس,4 ستاره 4 تخته غزال,2024-04-27T22:24:00,2024-04-28T10:40:00,2853000,2853000,True,4,...,True,بن ريل,False,False,False,False,False,EC,False,False
1133,11670048026,یزد,بندرعباس,3 ستاره 6 تخته كوير,2024-04-28T20:43:00,2024-04-29T08:45:00,1911500,1911500,True,6,...,False,جوپار,False,False,False,False,False,EL,False,False
1134,11670048027,یزد,بندرعباس,4ستاره4تخته غزال,2024-04-28T22:24:00,2024-04-29T10:40:00,3357000,3357000,True,4,...,True,رجا,False,False,False,False,False,EC,False,False
1135,11670048025,یزد,بندرعباس,3 ستاره 6 تخته كوير,2024-04-28T20:43:00,2024-04-29T08:45:00,1911500,1911500,True,6,...,False,جوپار,False,False,False,False,False,EL,False,False

Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\asyncio\selector_events.py", line 132, in _read_from_self
    data = self._ssock.recv(4096)
           ^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host