In [1]:
import pandas as pd
import json

In [2]:
with open("rawData/snappfoodProducts1712937839.json", "r", encoding="utf-8") as fp:
    products = json.loads(fp.read())

In [3]:
df = pd.json_normalize(products)
df.drop_duplicates(subset=['id'], inplace=True)

In [4]:
df.head()

,id,stock,capacity,productVariationTitle,title,description,price,type,discount,discountRatio,...,likesCount,disLikesCount,popularityBadgeName,popularityBadgeURL,popularityScore,videoLink,vendorCode,createdAt.date,createdAt.timezone_type,createdAt.timezone
0,4277157,None,-1,یک کیلو گرم,حلیم یک کیلو گرم,گندم، گوشت مخلوط گوساله و گوسفندی، بدون نان,125000,[],0,0,...,165,7,GOLD,https://cdn.snappfood.ir/uploads/images/review...,96.129806,None,096jon,2019-02-15 17:41:40.000000,3,Asia/Tehran
1,5759008,None,-1,یک سیخ,چلو کباب کوبیده معمولی یک سیخ,کباب کوبیده مخلوط گوشت گوساله و گوسفندی 200 گر...,185000,[],37000,20,...,76,18,GOLD,https://cdn.snappfood.ir/uploads/images/review...,87.825272,None,096jon,2020-04-03 14:25:22.000000,3,Asia/Tehran
2,5755626,None,-1,دو سیخ,چلو کباب کوبیده معمولی دو سیخ,کباب کوبیده مخلوط گوشت گوساله و گوسفندی 200 گر...,305000,[],61000,20,...,53,11,GOLD,https://cdn.snappfood.ir/uploads/images/review...,87.825272,None,096jon,2020-03-31 12:38:53.000000,3,Asia/Tehran
3,4915842,None,-1,یک کیلو گرم,آش رشته یک کیلو گرم,رشته، نخود، لوبیا، سبزی، پیاز داغ، سیر داغ، نع...,125000,[],0,0,...,49,10,GOLD,https://cdn.snappfood.ir/uploads/images/review...,62.463654,,096jon,2019-07-28 19:02:29.000000,3,Asia/Tehran
4,4867436,None,-1,ران,زرشک پلو با مرغ سس پز ران,یک تکه مرغ سس پز شده 400 گرمی، 350 گرم زرشک پ...,225000,[],45000,20,...,61,7,GOLD,https://cdn.snappfood.ir/uploads/images/review...,34.933660,None,096jon,2019-07-15 11:09:15.000000,3,Asia/Tehran

In [8]:
keys = ['id', 'productVariationTitle', 'title', 'description', 'price', 'discount', 'productTitle', 'productId', 'categoryId', 'categoryTile', 'rating', 'likesCount', 'disLikesCount', 'popularityBadgeName', 'popularityScore', 'vendorCode']

In [9]:
df = df[keys].to_csv('snappfoodProducts.csv', index=False, encoding='utf-8-sig')

In [10]:
with open("rawData/snappfoodFullVendors1712937881.json", "r", encoding="utf-8") as fp:
    vendors = json.loads(fp.read())

In [11]:
dfv = pd.json_normalize(vendors)
dfv.drop_duplicates(subset=['id'], inplace=True)

In [13]:
dfv

,id,rejectOutOfZone,brokerType,state,preOrderOnly,noOrder,city_id,city,area,inPlaceDelivery,...,paymentTypes.1,paymentTypes.3,paymentTypeCodes.0,paymentTypeCodes.1,paymentTypeCodes.3,preorderToday,preorderTomorrow,paymentTypes.4,paymentTypeCodes.4,reopeningTime
0,32102,True,None,ACTIVE,False,False,1,تهران,شهرک هما,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,253612,False,None,ACTIVE,False,False,1,تهران,پونک جنوبی,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,287925,False,None,ACTIVE,False,False,1,تهران,ونک,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,360196,True,None,ACTIVE,False,False,1,تهران,ونک,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,38027,False,None,ACTIVE,False,False,1,تهران,شهرآرا,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8989,243692,True,None,SPECIAL_DAY_CLOSED,False,False,1,تهران,ونک,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8990,234288,True,None,SPECIAL_DAY_CLOSED,False,False,1,تهران,سرآسیاب مهرآباد,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8991,226181,True,None,SPECIAL_DAY_CLOSED,False,False,1,تهران,تجريش,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8992,109125,True,None,SPECIAL_DAY_CLOSED,False,False,1,تهران,ونک,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8993,99090,True,None,SPECIAL_DAY_CLOSED,False,False,1,تهران,وحيديه,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
keys = ['id', 'city', 'area', 'expeditionType', 'title', 'chainTitle', 'branchTitle', 'commentCount', 'rating', 'taxEnabled', 'tax', 'minOrder', 'address', 'lat', 'lon', 'establishment', 'deliveryType', 'expressDeliveryTime', 'budgetClass', 'maxDeliveryRadius', 'isEconomical', 'vendorCode', 'createdAt.date']

In [19]:
dfv = dfv[keys].to_csv('snappfoodVendors.csv', index=False, encoding='utf-8-sig')